# Ignore non whitelisted files/folder
<!-- * -->

# Include shared scripts
<!-- !shared_scripts/ -->
<!-- !shared_scripts/** -->

# Include the Dockerfiles own folder, specified with the FOLDER argument
<!-- !${BASEFOLDER}/
!${BASEFOLDER}/** -->